$base-font-size: 16px;
$base-line-height: 1.5em;

// Root typography

body {
  font-family: font-family(base);
  font-size: $base-font-size * .9;
  line-height: $base-line-height * 1.15;
  color: color(content, base);
}

// Link typography

a {
  text-decoration: none;
  color: theme(reef, light);

  transition-duration: 150ms;
  &:hover, &:focus, &:active {
    color: theme(reef, dark);
  }
}

// Heading typography

@mixin set-heading-type($font-size, $line-height, $letter-spacing) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

h1, h2, h3, h4 {
  font-family: font-family(primary);
}

h5, h6 {
  text-transform: uppercase;
  font-family: font-family(base);
  font-weight: 700;
}

h1 { @include set-heading-type(4.5rem, 1, -1.6px); }
h2 { @include set-heading-type(3rem, 1.1, -.8px); }
h3 { @include set-heading-type(2.3rem, 1.2, 0); }
h4 { @include set-heading-type(1.7rem, 1.3, .3px); }
h5 { @include set-heading-type(1.1rem, 1.4, 1.5px); }
h6 { @include set-heading-type(.75rem, 1.5, 3px); }

// Bold and caption (and ban italics)

b, strong, i, em {
  font-style: normal;
  font-weight: 500;
}

caption, small {
  text-transform: uppercase;
  font-size: .85rem;
}
