@import '~scss/utils/module';

.footer {
  padding: 1rem 2rem;
  background-color: color(dark2);
}

.footer__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  max-width: 100%;
  width: 7rem;
}
