@import '~scss/utils/module';

.design {
  background-color: color(dark2);
}

.design__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
}

.design__back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;

  > svg {
    margin-right: 7px;
    font-size: 1.35rem;
  }
}

.design__title {
  margin-bottom: 10px;
}
