@import '~scss/utils/module';

.section {
  padding: 2rem 1rem 7rem;
  @include gradient(color(dark3), color(dark1));
}

.section__title {
  padding: 3.5rem 1rem 4.5rem;
  text-align: center;
  text-transform: uppercase;
  font-family: font-family(primary);
  font-size: 1.2rem;
  letter-spacing: 4px;
  color: theme(sunset, base);
}
