@import '~scss/utils/module';

.card {
  padding: 1rem 1.2rem;
  background-color: color(dark2);
  border-radius: .8rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15),
    0 0 8px rgba(0, 0, 0, .1),
    0 0 15px rgba(0, 0, 0, .1);
}
